<div class="flex flex-col gap-4 h-full w-full relative">
  @defer {
    <div
      id="map"
      class="w-full h-full"
      aria-label="Interactive map"
      role="application"
    ></div>
  } @placeholder {
    <tui-loader [overlay]="true" [size]="'xxl'" class="w-full h-full flex" />
  }
  @if (showBottomSheet()) {
    <div
      #buttons
      class="absolute bottom-32 w-full max-w-[40rem] flex gap-4 px-4 md:px-0 items-center justify-end place-self-center z-50 pointer-events-none"
    >
      <a
        appearance="floating"
        [href]="mapUrl()"
        iconStart="@tui.map-pin"
        rel="noopener noreferrer"
        size="m"
        target="_blank"
        tuiIconButton
        class="pointer-events-auto"
        aria-label="Open location in Google Maps"
      >
        Map
      </a>
      @if (websiteUrl()) {
        <a
          appearance="floating"
          [href]="websiteUrl()"
          iconStart="@tui.external-link"
          rel="noopener noreferrer"
          size="m"
          target="_blank"
          tuiIconButton
          class="pointer-events-auto"
          aria-label="Visit related website for this location"
        >
          Website
        </a>
      }
    </div>
    <tui-bottom-sheet
      [stops]="stops"
      (scroll.zoneless)="onScroll(handleScrollEvent($event.target))"
      role="dialog"
      aria-labelledby="location-info-title"
    >
      <h3 tuiHeader id="location-info-title">
        <span tuiTitle>
          {{ locationName() }}
        </span>
      </h3>
      <div class="flex flex-col gap-4 my-4">
        @for (detail of locationDetails(); track detail.label) {
          <div tuiTitle>
            <strong>{{ detail.label }}</strong>
            <span tuiSubtitle>{{ detail.value }}</span>
          </div>
        }
      </div>
      {{ locationDescription() }}
    </tui-bottom-sheet>
  }
</div>
